body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 50px;
}

.counter {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}