body {
    margin: 0px;
}

.flex {
    display: flex;
    justify-content: center;
}

.schaakbord {
    display: grid;
    grid-template-rows:repeat(9, 1fr);
    grid-template-columns:repeat(9, 1fr);
    gap: 5px;
    width: 700px;
    height: 700px;
}

.schaakbord>div {
    border: 1px solid black;
    text-align: center;
    align-content: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


/* even rows */
.cell:nth-child(n+11):nth-child(-n+18):nth-child(even),
.cell:nth-child(n+29):nth-child(-n+36):nth-child(even),
.cell:nth-child(n+47):nth-child(-n+54):nth-child(even),
.cell:nth-child(n+65):nth-child(-n+72):nth-child(even),



/* odd rows */
.cell:nth-child(n+20):nth-child(-n+27):nth-child(even),
.cell:nth-child(n+38):nth-child(-n+45):nth-child(even),
.cell:nth-child(n+56):nth-child(-n+63):nth-child(even),
.cell:nth-child(n+74):nth-child(-n+81):nth-child(even)


{
    background-color: black;
}

.gray {
    background-color: grey;
}