body {
    font-family: Arial, Helvetica, sans-serif;
}

.price-card {
    width: 300px;
    height: 400px;
    background-color: #eaeaea;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0 1px 5px black;
}

.price-card > img {
    max-width: 100vw;
    max-height: 250px;
    margin-top: 25px;
}