body {
    margin: 0;
}

.lijst {
    position: relative;
}

.black_divider_large_v {
    background-color: black;
    border: 1px solid black;
    width: 410px;
    height: 410px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 0;
}

.white_square_large {
    background-color: white;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    top: 100px;
    left: 210px;
    z-index: 2;
}

.red_square {
    background-color: red;
    border: 1px solid black;
    width: 100px;
    height: 125px;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 2;
}

.white_square_small {
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 165px;
    position: absolute;
    top: 235px;
    left: 100px;
    z-index: 2;
}

.blue_square {
    background-color: blue;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 410px;
    left: 100px;
    z-index: 2;
}

.white_square_medium {
    background-color: white;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 410px;
    left: 210px;
    z-index: 2;
}

.yellow_square {
    background-color: yellow;
    border: 1px solid black;
    width: 90px;
    height: 100px;
    position: absolute;
    top: 410px;
    left: 420px;
    z-index: 2;
}