body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  width: 100%;
  height: 5224px;
}

a {
  text-decoration: none;
  color: black;
}

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 124.71px;
  background-color: #5D587C;
  background-attachment: fixed;
  border-bottom-style: solid;
  border-bottom-width: 12.29px;
  border-color: #31375B;
  padding: 0 20px;
}

.headerNGNGlogo {
  display: flex;
  align-items: center;
  gap: 50px;
}

.headerbuttons {
  display: flex;
  gap: 50px;
}

.headerbuttons>div {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: 650;
}

.headerbuttons>text:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.steunons2button {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: rgb(0, 0, 0);
  background-color: #F5CA31;
  font-weight: 650;
  padding: 10px;
}

.steunons2button:hover {
  font-family: "Open Sans", sans-serif;
  transform: scale(1.09);
  color: rgb(0, 0, 0);
  background-color: #F5CA31;
  padding: 10px;
}

.homeimg {
  position: relative;
  width: 100%;
  height: 444px;
  background-image: url("IMG/homeimg.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans";
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.homeimg h1 {
  position: relative;
  top: -20%;
  text-align: center;
  color: white;
  font-size: 100px;
  font-family: "Covered By Your Grace";
}

.more-info {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 390px;
}

.header li {
  list-style-type: none;
  margin: 0 67px;
  padding: 0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: 650;
}

ul li a:hover {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  transform: scale(1.09);
  color: rgb(255, 255, 255);
}

.onzemissieblok {
  position: relative;
  height: 95px;
  width: 100%;
  background-color: #D9D9D9;
  font-size: 70px;
  text-align: center;
  font-family: "Covered By Your Grace";
}

.onzemissiebegin {
  text-align: center;
  font-family: "Open Sans";
  font-size: 25px;
  line-height: 28px;
}

.onzemissielijn1 {
  margin: 0 auto;
  height: 7px;
  width: 463px;
  background-color: #31375B;
}

.onzemissieinhoud {
  display: flex;
  align-items: flex-start;
}

.RandomGirl {
  margin-top: 50px;
  margin-left: 30px;
  width: 679px;
  height: 453px;
}

.onzemissielijn2 {
  width: 496px;
  height: 7px;
  background-color: #31375B;
}

.onzemissieinhoudtext {
  margin-top: 30px;
  margin-left: 50px;
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 28px;
}

.onzemissielijn3 {
  width: 496px;
  height: 7px;
  background-color: #31375B;
}

.onzemissieinhoudtext :nth-child(3) {
  margin-bottom: 20px;
}

.overonsblok {
  position: relative;
  height: 95px;
  width: 100%;
  background-color: #D9D9D9;
  font-size: 70px;
  text-align: center;
  font-family: "Covered By Your Grace";
  margin-top: 50px;
}

.overonsbegin {
  text-align: center;
  font-size: 28px;
  font-family: "Open Sans";
  line-height: 28px;
}

.overonslijn1 {
  height: 7px;
  width: 463px;
  background-color: #31375B;
  margin: 0 auto;
}

.overonsinhoud1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.overonstextbox {
  background-color: #D9D9D9;
  margin-top: 100px;
  width: 757px;
  height: 582px;
  border: 1px;
  border-style: solid;
  border-color: #8F8F8F;
  padding-top: 25px;
}

.overonsimg {
  margin-top: 100px;
  width: 599px;
  height: 399px
}

.overonstext {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 28px;
  margin-left: 10px;
}

.overonstext > li {
  margin-bottom: 30px;
}

.overonsinhoud2 {
  display: flex;
  justify-content: center;
}

.verhaalsophie {
  background-color: #D9D9D9;
  width: 752px;
  height: 336px;
  border: 1px;
  border-color: #8F8F8F;
  margin-top: 67px;
  border: 1px;
  border-style: solid;
  border-color: #8F8F8F;
  font-family: "Open Sans";
  font-size: 19px;
  line-height: 28px;
  text-align: center;
}

.verhaalsophie > h1 {
  font-size: 24px;
  font-weight: bold;
}

.overonseind {
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  margin-top: 41px;
}

.overonslijn2 {
  width: 1206px;
  height: 7px;
  background-color: #31375B;
  margin: 0 auto;
}

.steunonsblok {
  position: relative;
  width: 100%;
  background-color: #D9D9D9;
  height: 95px;
  font-family: "Covered By Your Grace";
  font-size: 70px;
  text-align: center;
  margin-top: 70px;
}

.steunonsbegin {
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}

.steunonslijn1 {
  width: 500px;
  height: 7px;
  background-color: #31375B;
  margin: 0 auto;
}

.steunonsinhoud {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.donerentekst {
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 28px;
}

.doneren {
  background-color: #D9D9D9;
  width: 685px;
  height: 550px;
  border: 1px;
  border-color: #8F8F8F;
  border-style: solid;
  margin-top: 50px;

  display: flex;
  flex-direction: column;
}
.doneerstatusbalk {
  display: flex;
  justify-content: space-evenly;
  gap:50px;
  margin-top: 40px;
  font-family: "Open Sans";
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
}
.doneerbalk {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 65px;

  font-family: "Open Sans";
  font-size: 25px;
  line-height: 28px;
}

.doneerbalk > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 117px;
  height: 51px;
  background-color: #ACACAC;
  font-weight: 500;
  border: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.doneerbalk > div:nth-child(1) {
  background-color: #31375B;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  border-color: #31375B;
}

.doneertypbalk {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.doneerstatusbalk > div:nth-child(1) {
  text-decoration: underline;
  text-decoration-color: #F5CA31;
}

.doneertypbalk > input {
  width: 634px;
  height: 51px;
  background-color: #C6C6C6;
  border-color: #C6C6C6;
  border-radius: 10px;
  font-size: 30px;
}

.doneertijd {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  font-family: "Open Sans";
  font-size: 25px;
  line-height: 28px;
}

.donerenvolgende1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ACACAC;
  width: 319px;
  height: 75px;
  border: 3px;
  border-color: black;
  border-style: solid;
  font-family: "Open Sans";
  font-size: 30px;
  line-height: 28px;
  font-weight: 550;
  margin: 0 auto;
  margin-top: 35px;
}

.productentitle {
  font-family: "Covered By Your Grace";
  font-size: 70px;
  text-align: end;
  margin-right: 150px;
}

.productbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 1363px;
  height: 577px;
  background-color: #D9D9D9;
  border: 1px;
  border-color: #8F8F8F;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.productnamen1 {
  display: flex;
  justify-content: space-around;
}

.productnamen1 > div {
  width: 355px;
  height: 24px;
  list-style-type: none;
  font-family: "Open Sans";
  font-size: 20px;
  color: #31375B;
}

.productvak1 {
  display: flex;
  justify-content: space-around;
}

.productvakken {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 202px;
  border: 2px solid;
  border-radius: 20px;
}

.productnamen2 {
  display: flex;
  justify-content: space-around;
}

.productnamen2 > div {
  width: 355px;
  height: 24x;
  list-style-type: none;
  font-family: "Open Sans";
  font-size: 20px;
  color: #31375B;
}

.productvak2 {
  display: flex;
  justify-content: space-around;
}

.NGNG-productimg {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.reviewstitle {
  font-family: "Covered By Your Grace";
  font-size: 70px;
  text-align: center;
  margin-top: 50px;
}

.reviewsbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1363px;
  height: 282px;
  background-color: #D9D9D9;
  border: 1px solid;
  border-color: #8F8F8F;
  margin: 0 auto;
}

.reviewsbox > div {
  width: 370px;
  height: 220px;
  background-color: #ACACAC;
  border: 2px solid;
  border-color: black;
  border-radius: 20px;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 288px;
  background-color: #5D587C;
  border-top: 12px solid;
  border-top-color: #31375B;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.contact {
  font-family: "Open Sans";
  font-size: 17px;
  line-height: 28px;
  margin-left: 50px;
  margin-top: 20px;
}

.contact :nth-child(1) {
  font-size: 32px;
  font-weight: bold;
}

.contact :nth-child(3) {
  font-size: 32px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footermedialogos :nth-child(1) {
  margin-right: 25px;
}

.footerlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerlogo > img {
  width: 165px;
  height: 250px;
}

.steunonsbutton2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 159px;
  height: 52px;
  background-color: #F5CA31;
  margin-top: 20px;
  margin-right: 50px;
}

.steunonsbutton2:hover {
  transform: scale(1.09);
}

@media screen and (min-width: 1921px) {
  body {
    background-color: red;
  }
}