body {
    font-family: Arial, Helvetica, sans-serif;
}

.cdbox>img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}

.flexbox {
    display: flex;
    gap: 100px;
}

.cdbox {
    width: 225px;
    height: 325px;
    background-color: rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.cdtext {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

h1 {
    text-align: center;
}