body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    text-align: center;
}