body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #5D587C;
    border-bottom: 10px solid;
    border-bottom-color: #31375B;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>ul {
    margin: 0px;
    padding-left: 50px;
    list-style-type: none;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 150px;
}

.header>ul li {
    display: inline;
    font-family: "Arial";
    font-weight: 600;
    transition-property: scale(1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.header>ul li:hover {
    transform: scale(1.2);
    font-size: 700;
}

.header>img {
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.titlehome {
    font-family: "Archivo Black", Arial;
    font-size: 40px;
    line-height: 1px;
    margin: 0;
    margin-left: 50px;
    margin-top: 50px;
}

.titlehome :nth-child(2) {
    font-size: 20px;
}

.homelijn1 {
    height: 7px;
    width: 500px;
    background-color: #31375B;
}

.overmijbox {
    margin: 0px;
    margin-top: 50px;
    position: relative;
    width: 500px;
    height: 400px;
    background-color: #5D587C;
    border-radius: 40px;
    color: white;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
}

.overmijbox>h1 {
    margin: 0px;
    margin-top: 30px;
    font-size: 40px;
    line-height: 0px;
}

.overmijbox>a img {
    width: 150px;
    height: 150px;
}

.indexflexinhoud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.crowdsurfimg>img {
    margin-top: 35px;
    width: 500px;
    height: 300px;
    border: 3px solid;
    border-color: #31375B;
}

.crowdsurf>h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer {
    margin: 0px;
    width: 100vmax;
    height: 80px;
    background-color: #5D587C;
    border-top: 10px solid;
    border-top-color: #31375B;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.contactmij {
    width: 300px;
    height: 190px;
    border-radius: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5D587C;
    text-align: center;
    padding-top: 10px;
}

.contactmij h1 {
    font-size: 35px;
}

.contactlijn {
    width: 250px;
    height: 7px;
    background-color: #31375B;
    margin: 0 auto;
    border-radius: 100px;
    margin-bottom: 20px;
}

.contactimg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactimg a img {
    max-width: 50px;
    transition-property: scale(1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.contactimg a img:hover {
    transform: scale(1.2);
}

/* PROJECTEN.HTML VANAF HIER */

.titleprojecten {
    font-family: "Archivo Black", Arial;
    font-size: 40px;
    line-height: 1px;
    margin: 0;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titleprojecten :nth-child(2) {
    font-size: 20px;
}

.projectenbox {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}

.projectvak {
    width: 85%;
    background-color: #5D587C;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    transition-property: scale(1);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.vaktekst {
    flex: 2;
    margin-bottom: 10px;
    padding-left: 30px;
}

.projectvak:hover {
    transform: scale(1.05);
}

.vaktekst h1 {
    font-family: "Archivo Black", Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 5px;
}

.vaktekst p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 10px 20px 0px 0px;
    font-size: 20px;
}

.pvaklijn {
    background-color: #31375B;
    width: 400px;
    height: 7px;
    border-radius: 100px;
}

.uskills {
    display: flex;
    margin-top: 25px;
    gap: 10px;
}

.ubox {
    background-color: #31375B;
    width: 100px;
    height: 30px;
    border-radius: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

.vakimg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px dashed #31375B;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.vakimg a>img {
    width: 250px;
    height: 250px;
    border-radius: 30px;
    border: 4px solid #31375B;
    transition-property: scale(1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.vakimg a>img:hover {
    transform: scale(1.1);
}

/* SKILLS.HTML VANAF HIER */

.titleskills {
    font-family: "Archivo Black", Arial;
    line-height: 1px;
    margin: 0;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titleskills :nth-child(2) {
    font-size: 20px;
}

.titleskills h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.skillsflexinhoud {
    display: flex;
    justify-content: center;
    align-content: center;
}

.skillsbox {
    width: 1200px;
    height: 300px;
    background-color: #5D587C;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.skillsbox>div{
    display: flex;
    gap: 100px;
}

.skillsimg {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
    transition-property: scale(1.0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.skillsimg>img {
    max-width: 200px;
    max-height: 200px;
}

.skillsimg:hover {
    transform: scale(1.2)
}

.skillslijn1 {
    width: 500px;
    height: 7px;
    background-color: #31375B;
    margin: 0 auto;
    margin-top: 75px;
}

/*media queries*/
@media only screen and (max-width: 900px) {
.indexflexinhoud {
    flex-direction: column;
}

.overmijbox{
    width:95%;
    padding: 5px;
}

main{
    width:100%;
    display:flex;
    align-items: center;
}

.header ul{
    flex-direction: column;
    gap:0px;
}

.header{
    height:100%;
}

.titlehome{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-left:10px;
    margin-right:10px;
}

.crowdsurfimg>img{
    width:100%;
}

.homelijn1{
    width:100%;
}

.titlehome :nth-child(2) {
    font-size: 20px;
    line-height: normal;
    margin: 0px;
}

.extraMargin{
    margin-bottom:10px;
}
main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.skillsbox {
    margin-top: 50px;
    width: 80%;
    height: 100%;
    background-color: #5D587C;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    padding: 30px;
}
.projectvak {
    width: 95%;
    background-color: #5D587C;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-property: scale(1);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
.vakimg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px dashed #31375B;
    border-left: 0;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pvaklijn {
    background-color: #31375B;
    width: 330px;
    height: 7px;
    border-radius: 100px;
}
.titleprojecten {
    font-family: "Archivo Black", Arial;
    font-size: 40px;
    line-height: 1px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.titleskills {
    font-family: "Archivo Black", Arial;
    line-height: 1px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skillslijn1{
    width: 300px;
}
.skillsbox>div{
    display: flex;
    gap: 40px;
}
 .overmijbox>a img {
    width: 125px;
    height: 125px;
}
}